/* custom stylesheet for erinmmurphy.github.io */

main{
  padding-left:3.5em;
  padding-right:3.5em;
}

.projects-container{
	  display:flex;
  flex-direction:row;
}

.project-snippet{
	flex:1;
	text-align: center;
}

.project_snippet a{
   text-decoration: none;
  color: black;
}

.project_snippet img{
	width: 75%;
}

.project_image{
	  width: 80%;
  height: 375px;
  margin:auto;
  background-size:contain;
  background-repeat:no-repeat;
}